
* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    background: #F2F2F2;
}

.header {
    color: white;
    background-color: black;

    
    display: flex;
    align-items: center;

}

main {
   
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message__list {
   /* border: 1px solid black; */
    width: 80vw;
    margin: 1rem auto;
    
}

.message {
    padding: 0 1rem;
    background: white;
    border: 1px solid #D5D5D5;
    margin-bottom: 1rem;
}

.message__header {
    border-bottom: 1px solid #D5D5D5;
}

.message__author {
    padding: 1rem 0;
}

.message__main {
    margin: 1rem 0;
}

.message__footer {
     border-top: 1px solid #D5D5D5;
     
}

.message__footer p {
    padding: 0.5rem 0;
}

.message__form {
    width:80vw;
    display: flex;
    flex-direction: column;
}

.message__area {
    height: 100px;
    margin: 1rem 0;
}

.message__username {
    margin: 1rem 0;
    width: 10rem;
}

.btn__submit {
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 5rem;
    padding: 0.6rem;
    background: black;
    color: white;
}

.footer {
    color: white;
  
    
    background-color: black;
}